Source: netaudit
Section: net
Priority: optional
Maintainer: Per Carlson <pelle@hemmop.com>
Build-Depends: debhelper (>= 8),
 perl
Build-Depends-Indep: libalgorithm-diff-perl,
 libconfig-simple-perl,
 libdbd-sqlite3-perl (>= 1.26.05), 
 libdbi-perl,
 libio-prompt-perl,
 libmouse-perl,
 libnet-snmp-perl, 
 libnet-telnet-perl,
 libnetaddr-ip-perl,
 libregexp-common-perl,
 libregexp-ipv6-perl,
 libtext-table-perl, 
 libreadonly-perl 
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/hemmop/netaudit
Vcs-Git: git://github.com/hemmop/netaudit.git

Package: netaudit
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libalgorithm-diff-perl,
 libconfig-simple-perl,
 libdbd-sqlite3-perl (>= 1.26.05), 
 libdbi-perl,
 libio-prompt-perl,
 libmouse-perl,
 libnet-snmp-perl, 
 libnet-telnet-perl,
 libnetaddr-ip-perl,
 libregexp-common-perl,
 libregexp-ipv6-perl,
 libtext-table-perl, 
 libreadonly-perl 
Recommends: libterm-ansicolor-perl (>= 2.01) | perl (>= 5.11.0), 
 libtext-aligner-perl (>= 0.07)
Description: Scripts for doing network audits of routers
 netaudit runs a series of commands and SNMP walks on a device (or more)
 to get a view of the environment it operates within.
 .
 The data is stored in a SQLite3 database and can be viewed either with 
 direct SQL queries, or (recommended) the tool "netreport"
 included in the package.
